@using System.Threading.Tasks
@using Sandbox.Controllers
@model Sandbox.Controllers.ClientInfo

@{
    ViewData["Title"] = "Browser";
}

<h4>UserAgent</h4>
<code>@Model.UserAgent</code>
<h4>Device</h4>
<table>
    <tr>
        <th>Device</th>
        <td>@Model.Device?.Type.ToString()</td>
    </tr>
    <tr>
        <th>Browser</th>
        <td>@Model.Browser?.Type.ToString()</td>
    </tr>
    <tr>
        <th>Platform</th>
        <td>@Model.Platform?.Type.ToString()</td>
    </tr>
    <tr>
        <th>Engine</th>
        <td>@Model.Engine?.Type.ToString()</td>
    </tr>
    <tr>
        <th>Crawler</th>
        <td>@Model.Crawler?.Type.ToString()</td>
    </tr>
</table>