@page
@model Detection.Pages.IndexModel

@inject Wangkanai.Detection.Services.IDetectionService Detection

@{
    ViewData["Title"] = "Detection";
}

<div class="text-center">
    <div class="alert alert-primary">@Detection.UserAgent</div>

    <ul class="list-group flex-md-row">
        <li class="col-xs-12 col-sm-3 list-group-item list-group-item-success">@Detection.Device?.Type</li>
        <li class="col-xs-12 col-sm-3 list-group-item list-group-item-danger ">@Detection.Browser?.Name @Detection.Browser?.Version.Major</li>
        <li class="col-xs-12 col-sm-3 list-group-item list-group-item-primary">@Detection.Platform?.Name (@Detection.Platform?.Processor)</li>
        <li class="col-xs-12 col-sm-3 list-group-item list-group-item-warning">@Detection.Engine?.Name</li>
    </ul>
</div>

<div class="alert alert-info">Pages/Index.tablet.cshtml</div>